/.env
/.env.*
!/.env.example
!/.env.testing.example
!/.env.docker.example
!/.env.demo.example
/.songchart-backups/*
/vendor/
/node_modules/

/public/hot
/public/build/

/storage/logs/*.log
/storage/framework/*

/.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.cache

/.idea/
/.vscode/
/.gemini/
.DS_Store
Thumbs.db

.env.docker
.certs/*
!.certs/.gitignore

/storage/upgrade-backups/
