/.env
/.env.*
!/.env.example
!/.env.testing.example
!/.env.docker.example

/vendor/
/node_modules/

/public/hot
/public/build/

/storage/logs/*.log
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

/.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.cache

/.idea/
/.vscode/
.DS_Store
Thumbs.db

.env.docker
.certs/*
!.certs/.gitignore

/storage/upgrade-backups/
